<link rel="stylesheet" href="/ideas/form.css" title="CSS" type="text/css"/>
<div>
  <%= form_for [@user, @idea] do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :category_id %>
  <%= f.collection_select(:category_id, @categories, :id, :name)%>

  <%= f.submit %>
  <%end%>
</div>
