<link rel="stylesheet" href="/users/new.css" title="CSS" type="text/css"/>
<p> Idea Box </p>
<div>
  <%= form_for @user do |f| %>
  <%=f.label :username %>
  <%=f.text_field :username %>

  <%=f.label :password %>
  <%=f.password_field :password %>

  <%=f.submit%>
  <%end%>
</div>
