<link rel="stylesheet" href="/users/show.css" title="CSS" type="text/css"/>

<p> WELCOME <%=current_user.username.upcase %> </p>
<%= link_to 'Log Out', logout_path %>
<%= link_to 'Create New Idea', new_user_idea_path(current_user) %>
<%= link_to 'Images', images_path %>
<%= link_to 'Categories', categories_path %>

<p> Your Ideas </p>
<%@ideas.each do |i| %>
  <center><div>
    <%= link_to i.title, user_idea_path(@user,i)%>
    <%= link_to 'Edit', edit_user_idea_path(@user,i)%>
    <%= link_to 'Delete', user_idea_path(@user,i), method: :delete%>
  <div></center>

<%end%>
