<link rel="stylesheet" href="/projects/index.css" title="CSS" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class='second-box'>
    <center>
      <div class='first-box1'>
        <button class='facebook'style="font-size:24px" onclick="window.open('https://ideaboxxxx.herokuapp.com/')" type="button">
          IdeaBox
        </button> <%=link_to 'GitHub','https://github.com/manojpanta/IdeaBoxx', target: :_blank%>
      </div>

      <div class='first-box1'>
        <button class='facebook' style="font-size:24px" onclick="window.open('http://bikeshare-manoj.herokuapp.com/')" type="button">
          BikeShare
         </button> <%=link_to 'GitHub','https://github.com/manojpanta/Bike-Share', target: :_blank %>
      </div>

      <div class='first-box1'>
        <button class='facebook'style="font-size:24px" onclick="window.open('/jungle_beat', '_self')" type="button">
          JungleBeat
        </button> <%=link_to 'GitHub','https://github.com/manojpanta/jungle_beat', target: :_blank%>
      </div>

      <div class='first-box1'>
        <button class='facebook'style="font-size:24px" onclick="window.open('/night_writer', '_self')" type="button">
          NightWriter
        </button> <%=link_to 'GitHub','https://github.com/manojpanta/jungle_beat', target: :_blank %>
      </div>

      <div class='first-box1'>
        <button class='facebook'style="font-size:24px" onclick="window.open('/credit_check', '_self')" type="button">
          Credit Check
        </button> <%=link_to 'GitHub','https://github.com/manojpanta/credit_check', target: :_blank%>
      </div>

      <div class='first-box1' id = "aa">
        <button class='facebook'style="font-size:24px" onclick="window.open('https://brownfield-of-dreams-1811.herokuapp.com/')" type="button">
          Brown Field of Dreams
        </button> <%=link_to 'GitHub','https://github.com/manojpanta/brownfield-of-dreams', target: :_blank%>
      </div>
      <div class='first-box1' id = "aa">
        <button class='facebook'style="font-size:24px" onclick="window.open('https://github.com/manojpanta/black_thursday')" type="button">
          BlackThursday
        </button>
      </div>


      <div class='first-box1' id = "aa">
        <button class='facebook'style="font-size:24px" onclick="window.open('/magic_game', '_self')" type="button">
          21CardMagic
        </button>
      </div>
    </center>

</div>
