<link rel="stylesheet" href="/categories/index.css" title="CSS" type="text/css"/>

<%if current_admin?%>
<div class='first-box'>
  <%= link_to 'Log Out', logout_path %>
  <%= link_to 'Categories', categories_path %>
  <%= link_to 'Images', images_path %>
  <%=link_to 'Home', user_path(current_user) %>
</div>
<%else%>
  <div class='first-box'>
  <%= link_to 'Log Out', logout_path %>
  <%= link_to 'Categories', categories_path %>
  <%= link_to 'Images', images_path %>
  <%=link_to 'Home', user_path(current_user) %>
  </div>
<%end%>
<div class='second-box'>
  <%if current_admin?%>
  <%= link_to 'Create New Category', new_admin_category_path %>
  <%end%>

  <%if current_admin?%>
  <center><h1> ADMIN CATEGORIES </h1></center>
  <%else%>
  <h1> Categories </h1>
  <%end%>

  <% @categories.each do |c| %>
    <center><div class='first-box1'>
      <%=c.name%>
      <%if current_admin?%>
        <%= link_to 'Delete', admin_category_path(c), method: :delete%>
        <%= link_to 'Edit', edit_admin_category_path(c)%>
      <%end%>
    </div></center>
  <%end%>
<div class='second-box'>
