<link rel="stylesheet" href="/images/index.css" title="CSS" type="text/css"/>


<div class='first-box'>
  <%= link_to 'Log Out', logout_path %>
  <%= link_to 'Categories', categories_path %>
  <%= link_to 'Images', images_path %>
  <%=link_to 'Home', user_path(current_user) %>
  <%if current_admin?%>
  <%= link_to 'Create New Image', new_admin_image_path %>
  <%end%>
</div>
<div class='second-box'>
  <%if current_admin?%>
  <center><h1> ADMIN IMAGES </h1></center>
  <%else%>
  <center><h1>IMAGES </h1></center>
  <%end%>

  <hr>
  <% @images.each do |i| %>
    <center><div class='images' ><img src="<%=i.url%>"></div>

      <div class='first-box1'>
        <%= link_to i.title, image_path(i) %>
        <%if current_admin?%>
          <%=link_to 'Delete', admin_image_path(i), method: :delete %>
        <%end%>
    </div></center>
    <%if @idea%>
    <center><div class="favorite">
      <%= form_tag user_idea_path(current_user, @idea), method: 'patch' do %>
      <%= hidden_field_tag :image_id, i.id  %>
      <%= submit_tag "Add Image To My Idea" %>
      <%end%>
    </div></center>
    <%end%>
    <hr>

  <%end%>
</div>
