<!DOCTYPE html>
<html>
  <head>
    <title>Manoj Panta | Back End Developer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
     <%= content_tag :div, msg, class: name %>
    <% end %>

    <div id="navbar">
      <a href="/" id="logo">Manoj Panta</a>
      <div id="navbar-right">
        <a href="/projects">Projects</a>
        <a href="/resume">Resume</a>
        <a href="/contact">Contact</a>
      </div>
    </div>

    <!-- <div class='first-box'>
      <%= link_to 'Contact', contact_index_path, :class => "other_tabs" %>
      <%= link_to 'Resume', resume_index_path, :class => "other_tabs" %>
      <%= link_to 'Projects', projects_path, :class => "other_tabs"%>
      <%= link_to 'Manoj Panta', root_path, :class => "name"%>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      Magic LINK<%=link_to 'My Story', mystory_index_path, :class => "other_tabs" %>
    </div> -->

    <%= yield %>
      <div class='footer'>
        <%= link_to 'Contact', contact_index_path%>
        <%= link_to 'Projects', projects_path%>
        <%= link_to 'Manoj Panta', root_path%>
        <button style="font-size:24px" onclick="window.open('https://www.linkedin.com/in/manojpanta/')" value="Open Window" type="button"><i class="fa fa-linkedin-square"></i>
        </button>
        <button style="font-size:24px" onclick="window.open('https://github.com/manojpanta')" value="Open Window" type="button"><i class="fa fa-github-alt"></i>
        </button>
        <button style="font-size:24px" onclick="window.open('https://twitter.com/Ace_Monoz')" value="Open Window" type="button"><i class="fa fa-twitter"></i>
        </button>
        <button style="font-size:24px" onclick="window.open('https://www.facebook.com/manoj.panta.12')" value="Open Window" type="button"><i class="fa fa-facebook-square"></i>
        </button>
      </div>
  </body>
  <script>
// When the user scrolls down 80px from the top of the document, resize the navbar's padding and the logo's font size
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "10px 10px";
    document.getElementById("logo").style.fontSize = "20px";
  } else {
    document.getElementById("navbar").style.padding = "20px 10px";
    document.getElementById("logo").style.fontSize = "25px";
  }
}
</script>
</html>
